* {
  box-sizing: border-box;
}

body {
  font-family: "Open-Sans", sans-serif;
  color: #5A7184;
  margin: 0;
  font-feature-settings: "locl" 0;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url("../fonts/hkgrotesk-bold-web.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HKGrotesk';
  src: url("../fonts/hkgrotesk-bold-web.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  background-color: #fff;
  margin-bottom: 36px;
}

.header__top {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  padding: 27px 0px;
  margin-bottom: 36px;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-menu__link {
  text-decoration: none;
  color: #183B56;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.header-menu__item {
  margin-left: 42px;
}

.header-menu__logo {
  margin-right: 354px;
}

.header-menu__button {
  margin-left: 50px;
  padding: 13px 24px;
  background-color: #fff;
  border: 2px solid;
  color: #1565D8;
  box-sizing: border-box;
  filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1));
  border-radius: 8px;
  cursor: pointer;
}

.header-menu__button-link {
  color: #1565D8;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.header-menu__button-link:hover {
  background: #1565D8;
  color: #fff;
}

.container-top {
  max-width: 1280px;
  margin: auto;
}

.main-section {
  max-width: 1280px;
  height: 700px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.main-section__wrapper {
  position: absolute;
  z-index: 2;
  margin-left: 107px;
}

.main-section__bg {
  position: absolute;
  z-index: -2;
  overflow: hidden;
  object-fit: cover;
  background: transparent;
  width: 100%;
  height: 100%;
}

.main-section__button {
  background: #183B56;
  border-radius: 8px;
  outline: none;
  padding: 11px 37px;
  cursor: pointer;
  border: 4px solid #183B56;
  margin-bottom: 32px;
}

.main-section__button-link {
  outline: none;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  font-family: Open Sans;
}

.main-section__cool {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 652px;
  padding-top: 62px;
  margin-bottom: 52px;
}

.main-section__links {
  display: flex;
  padding: 0;
  align-items: center;
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #183B56;
}

.cool__span {
  font-family: Open Sans;
  padding: 6px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #36B37E;
  background: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
  width: 27%;
  margin-bottom: 21px;
}

.cool__title {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0;
  margin-bottom: 33px;
}

.cool__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  margin: 0;
  font-family: Open Sans;
}

.links__link {
  list-style-type: none;
  margin-left: 6px;
  margin-right: 31px;
}

.menu-burger {
  display: none;
}

.collection {
  padding-top: 83px;
  padding-bottom: 50px;
}

.collection-wrapper {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.collection__images-wrapper {
  display: flex;
  justify-content: space-between;
  width: 670px;
}

.collection__vertical {
  width: 320px;
}

.collection__vertical-photo {
  width: 100%;
}

.collection__horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collection__horizontal-photo {
  width: 320px;
  height: 230px;
  margin-bottom: 5px;
}

.collection__horizontal-image {
  width: 100%;
  height: 100%;
}

.collection__text {
  width: 412px;
}

.collection__title {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #183B56;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 30px;
}

.collection__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #5A7184;
  padding-right: 10px;
  margin-bottom: 40px;
}

.collection__looking {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: #1565D8;
}

.collection__looking-icon {
  margin-left: 15px;
}

.trending {
  margin-top: 50px;
}

.trending-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending-title {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #183B56;
}

.trending-menu__list {
  display: flex;
  list-style-type: none;
}

.trending-menu__link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.card {
  width: 260px;
  margin-bottom: 56px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.card-picture {
  width: 260px;
  height: 350px;
}

.card-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.card-image__last {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

.card-name {
  font-family: HKGrotesk;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #5A7184;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 15px;
}

.card-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 327px;
  list-style-type: none;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 25px;
}

.tabs-item {
  cursor: pointer;
  color: #5A7184;
  font-weight: normal;
}

.tabs-item--active {
  color: #183B56;
  font-weight: bold;
}

.card {
  visibility: hidden;
}

.card--active {
  visibility: visible;
}

.feeds {
  padding-top: 105px;
  padding-bottom: 80px;
}

.feeds-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
}

.slider-text {
  font-family: HKGrotesk;
  max-width: 800px;
  color: #5A7184;
  margin: 0 auto;
  font-size: 20px;
  line-height: 42px;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.slider-author {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #5A7184;
  text-align: center;
  display: block;
  margin-bottom: 60px;
}

.swipe-pagination {
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: #5A7184;
  margin-left: 10px;
}

.stories {
  padding-bottom: 140px;
}

.stories__wrapper {
  width: 1150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -4px;
}

.stories__text {
  max-width: 392px;
  min-height: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.stories__text_hashtag {
  min-width: 50px;
  height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  margin-bottom: 24px;
}

.stories__text_title {
  font-family: HKGrotesk;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.2px;
  color: #183B56;
  margin: 0 0 25px 0;
}

.stories__text_story {
  font-size: 20px;
  margin: 0 0 42px 0;
  max-width: 374px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 37px;
}

.stories__text_buttons {
  position: static;
  width: 132px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stories__text_buttons_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 56px;
  height: 56px;
}

.stories__text_buttons_left {
  width: 56px;
  height: 56px;
  top: 25px;
  left: -3px;
  bottom: 0;
  right: 0;
}

.stories__text_buttons_left:focus {
  outline: none;
}

.stories__text_buttons_left:hover {
  opacity: 0.5;
}

.stories__text_buttons_right {
  width: 56px;
  height: 56px;
  top: 25px;
  left: 74px;
  bottom: 0;
  right: 0;
}

.stories__text_buttons_right:focus {
  outline: none;
}

.stories__text_buttons_right:hover {
  opacity: 0.5;
}

.stories__slider {
  margin-top: 10px;
  overflow: hidden;
}

.stories__slider_wrapper {
  max-width: 662px;
  max-height: 475px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stories__slider_wrapper_slide {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.stories__slider_group {
  max-width: 322px;
  max-height: 475px;
  margin-right: 18px;
}

.stories__slider_group_picture {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.stories__slider_group_picture_img {
  display: block;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 312px;
  height: 317px;
}

.stories__slider_group_description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  bottom: 20px;
  left: 10px;
  width: 312px;
  min-height: 178px;
  background-color: #FAFDFF;
  padding: 20px 25px 20px 20px;
}

.stories__slider_group_description_title {
  font-family: HKGrotesk;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 0.2px;
  margin: 0 0 20px 0;
}

.stories__slider_group_description_link {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #1565D8;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
}

.separator {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #183B56;
  margin: 0 auto 118px auto;
}

.hashtag {
  color: #36B37E;
  background-color: rgba(54, 179, 126, 0.1);
  border-radius: 2000px;
}

.newsletter {
  position: relative;
  padding-top: 91px;
  padding-bottom: 82px;
  background-image: url(../img/newsletter-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter-wrapper {
  width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.newsletter-content {
  padding-left: 9px;
}

.newsletter__title {
  font-family: HKGrotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #ffffff;
  margin: 0;
}

.newsletter__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  font-family: Open Sans;
}

.subscribe {
  position: relative;
  width: 447px;
  height: 56px;
  margin-right: 55px;
  margin-bottom: 9px;
}

.subscribe__input {
  width: 100%;
  height: 100%;
  border: 1px solid #C3CAD9;
  border-radius: 8px;
  padding-left: 20px;
  background-image: url(../img/mail-icon.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 20px 50%;
  padding-left: 49px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  outline: none;
  font-family: Open Sans;
}

.subscribe__button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  top: 4.5px;
  right: 4.5px;
  bottom: 4.5px;
  background-color: #183B56;
  color: #ffffff;
  padding: 11px 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: Open Sans;
  cursor: pointer;
}

.subscribe__button:hover {
  background: #1565D8;
  color: #fff;
}

a {
  text-decoration: none;
  color: #183B56;
}

.footer {
  padding: 128px 0;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 270px 180px 175px 175px 208px;
  grid-gap: 20px;
  grid-auto-rows: minmax(34px, min-content);
  align-items: start;
}

.navigation__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #183B56;
  margin: 0;
  margin-bottom: 32px;
}

.navigation__item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #183B56;
  margin-bottom: 24px;
}

.social-links__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #5A7184;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 30px;
}

.social-links__img {
  margin-right: 3px;
}

@media (max-width: 1300px) {
  .container-top {
    max-width: 960px;
  }
  .header__top {
    justify-content: space-around;
  }
  .header-menu__logo {
    margin-right: 0;
  }
  __wrapper {
    margin-left: 107px;
  }
  .stories {
    width: 972px;
    margin: auto;
  }
  .stories__wrapper {
    width: 100%;
  }
  .stories__wrapper__text {
    max-width: 370px;
  }
  .stories__wrapper__slider_wrapper {
    max-width: 600px;
  }
  .stories__wrapper__slider_group {
    max-width: 290px;
    margin-right: 15px;
  }
  .stories__wrapper__slider_group_picture_img {
    width: 285px;
  }
  .stories__wrapper__slider_group_description {
    width: 285px;
  }
}

@media (max-width: 1200px) {
  .collection {
    padding-top: 49px;
  }
  .collection-wrapper {
    width: 97%;
  }
  .collection__images-wrapper {
    width: 605px;
    height: 415px;
    justify-content: space-around;
  }
  .collection__vertical {
    width: 270px;
  }
  .collection__horizontal-photo {
    width: 270px;
    height: 200px;
  }
  .collection__text {
    padding-left: 10px;
  }
  .collection__title {
    font-size: 44px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .collection__subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .collection__looking {
    font-size: 16px;
  }
  .newsletter-wrapper {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .newsletter-content {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter__text {
    text-align: center;
  }
  .subscribe {
    margin-right: 0;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .footer-wrapper {
    grid-template-columns: 250px 180px 175px 175px 150px;
    grid-gap: 5px;
  }
  .stories-wrapper {
    justify-content: center;
  }
  .stories-right {
    max-width: 654px;
  }
  .stories__title {
    font-size: 37px;
    line-height: 50px;
  }
  .stories__subtitle {
    font-size: 21px;
    line-height: 36px;
  }
  .stories__card {
    margin-right: 10px;
  }
  .stories {
    width: 820px;
  }
  .stories__wrapper {
    margin-left: 0;
  }
  .stories__text {
    max-width: 314px;
  }
  .stories__text_title {
    font-size: 42px;
  }
  .stories__text_story {
    font-size: 18px;
    width: 85%;
  }
  .stories__slider_group_picture {
    width: 235px;
    height: 238px;
  }
  .stories__slider_group_picture_img {
    width: 100%;
    height: 100%;
  }
  .stories__slider_group_description {
    width: 238px;
  }
  .stories__slider_group_description_title {
    font-size: 20px;
  }
  .stories__slider_wrapper_slide {
    width: 235px;
  }
  .stories {
    width: 820px;
  }
  .stories__wrapper {
    margin-left: 0;
  }
  .stories__text {
    max-width: 314px;
  }
  .stories__text_title {
    font-size: 42px;
  }
  .stories__text_story {
    font-size: 18px;
    width: 85%;
  }
  .stories__slider_group_picture {
    width: 235px;
    height: 238px;
  }
  .stories__slider_group_picture_img {
    width: 100%;
    height: 100%;
  }
  .stories__slider_group_description {
    width: 238px;
  }
  .stories__slider_group_description_title {
    font-size: 20px;
  }
  .stories__slider_wrapper_slide {
    width: 235px;
  }
}

@media (max-width: 992px) {
  .container-top {
    max-width: 760px;
  }
  .header-menu__item {
    margin-left: 20px;
  }
  .header-menu__button {
    margin-left: 0px;
  }
  .collection-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .collection__images-wrapper {
    width: 670px;
    height: auto;
    justify-content: space-between;
  }
  .collection__vertical {
    width: 320px;
  }
  .collection__horizontal-photo {
    width: 320px;
    height: 230px;
  }
  .collection__text {
    width: 95%;
    margin-top: 32px;
    padding-left: 0;
  }
  .collection__title {
    font-size: 48px;
    margin-bottom: 30px;
  }
  .collection__subtitle {
    font-size: 20px;
    word-break: break-word;
    margin-bottom: 24px;
  }
  .collection__looking {
    font-size: 18px;
  }
  .newsletter {
    padding-top: 67px;
    padding-bottom: 69px;
  }
  .newsletter__title {
    padding-left: 21px;
  }
  .newsletter__text {
    margin-top: 21px;
    padding-left: 11px;
  }
  .subscribe {
    margin-top: 37px;
    margin-left: 14px;
  }
  .footer {
    padding: 64px 0;
  }
  .footer-wrapper {
    grid-template-columns: 250px 180px 175px 1px 1px;
  }
  .footer-wrapper__logo {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
  .footer-wrapper__navigation {
    grid-row: 1;
    grid-column: 2;
  }
  .footer-wrapper__service {
    grid-row: 1;
    grid-column: 3;
  }
  .footer-wrapper__company {
    grid-row: 2;
    grid-column: 2;
  }
  .footer-wrapper__contacts {
    grid-row: 2;
    grid-column: 3;
  }
  .container {
    max-width: 760px;
    margin: auto;
  }
  .stories {
    padding-top: 78px;
  }
  .stories-wrapper {
    flex-wrap: wrap;
  }
  .stories__title {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 21px;
  }
  .stories-left {
    display: block;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    max-width: 585px;
    height: 296px;
  }
  .stories-right {
    padding-top: 36px;
    max-width: 682px;
  }
  .stories__subtitle {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 36px;
  }
  .stories__stamp {
    margin: auto;
  }
  .stories-arrows {
    top: unset;
    margin-left: 39%;
  }
  .stories__card {
    margin-right: 0px;
  }
  .separator {
    margin-bottom: 80px;
  }
  .stories {
    width: 90%;
  }
  .stories__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .stories__text {
    max-width: 75%;
    min-height: 296px;
    margin: auto;
    align-items: center;
  }
  .stories__text_hashtag {
    margin-bottom: 27px;
  }
  .stories__text_title {
    margin-bottom: 16px;
    font-size: 48px;
    letter-spacing: 0.2px;
  }
  .stories__text_story {
    text-align: center;
    margin-bottom: 36px;
    line-height: 195%;
  }
  .stories__text_buttons {
    margin-bottom: 36px;
  }
  .stories__text_buttons_left {
    width: 56px;
    height: 56px;
    top: 25px;
    left: 3px;
    bottom: 0;
    right: 0;
  }
  .stories__text_buttons_right {
    width: 56px;
    height: 56px;
    top: 25px;
    left: 81px;
    bottom: 0;
    right: 0;
  }
  .stories__slider {
    margin: 0;
  }
  .stories__slider_wrapper {
    max-width: 692px;
  }
  .stories__slider_group {
    max-width: 332px;
  }
  .stories__slider_group_picture {
    width: 322px;
    height: 317px;
  }
  .stories__slider_group_description {
    width: 322px;
  }
}

@media (min-width: 992px) {
  a:hover {
    color: #0187ee;
  }
  .navbar-top__button:hover {
    color: #183B56;
    border-color: #183B56;
  }
  .collection__looking-icon:hover {
    color: #0187ee;
  }
  .button:hover {
    background-color: #0187ee;
  }
  .link:hover {
    color: grey;
  }
  .button:hover {
    background-color: grey;
    border: none;
  }
  .button-enter:hover {
    background-color: grey;
  }
  .link-blue:hover {
    color: grey;
  }
  .stories__slider_group_description_link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 992px) {
  body {
    padding-top: 53px;
  }
  .button:hover {
    background-color: #1565D8;
    border: none;
  }
  .button-enter:hover {
    background-color: white;
  }
  .link:hover {
    color: #5A7184;
  }
  .link-blue:hover {
    color: #1565D8;
  }
  .container-top {
    max-width: 760px;
  }
  .header-menu__item {
    margin-left: 20px;
  }
  .header-menu__button {
    margin-left: 0px;
  }
  .collection-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .collection__images-wrapper {
    width: 670px;
    height: auto;
    justify-content: space-between;
  }
  .collection__vertical {
    width: 320px;
  }
  .collection__horizontal-photo {
    width: 320px;
    height: 230px;
  }
  .collection__text {
    width: 95%;
    margin-top: 32px;
    padding-left: 0;
  }
  .collection__title {
    font-size: 48px;
    margin-bottom: 30px;
  }
  .collection__subtitle {
    font-size: 20px;
    word-break: break-word;
    margin-bottom: 24px;
  }
  .collection__looking {
    font-size: 18px;
  }
  .newsletter {
    padding-top: 67px;
    padding-bottom: 69px;
  }
  .newsletter__title {
    padding-left: 21px;
  }
  .newsletter__text {
    margin-top: 21px;
    padding-left: 11px;
  }
  .subscribe {
    margin-top: 37px;
    margin-left: 14px;
  }
  .footer {
    padding: 64px 0;
  }
  .footer-wrapper {
    grid-template-columns: 306px 198px 175px;
  }
  .footer-wrapper__logo {
    grid-row: 1;
    grid-column: 1;
  }
  .footer-wrapper__navigation {
    grid-row: 1;
    grid-column: 2;
  }
  .footer-wrapper__service {
    grid-row: 1;
    grid-column: 3;
  }
  .footer-wrapper__company {
    grid-row: 2;
    grid-column: 2;
  }
  .footer-wrapper__contacts {
    grid-row: 2;
    grid-column: 3;
  }
  .container {
    max-width: 760px;
    margin: auto;
  }
  .trending {
    padding-top: 30px;
  }
  .trending-header {
    flex-direction: column;
    margin-bottom: 36px;
  }
  .trending-title {
    margin-bottom: 9px;
  }
  .card-wrapper {
    justify-content: space-around;
  }
  .card-picture {
    width: 280px;
    height: 350px;
  }
  .slider-text {
    max-width: 630px;
  }
}

@media (max-width: 768px) {
  .container-top {
    max-width: 728px;
    width: 95%;
  }
  .header__top {
    justify-content: space-between;
    margin-right: 37px;
    margin-left: 42px;
    padding: 23px 0px;
    margin-bottom: 24px;
  }
  .header-menu {
    display: none;
  }
  .header-menu__button {
    display: none;
  }
  .menu-burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 24px;
    height: 17px;
    padding: 0;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-burger__line {
    width: 22px;
    height: 2.2px;
    right: 1px;
    top: calc(50% - 2.2px/2 - 0.15px);
    background: #3A4C66;
  }
  .main-section__bg {
    max-width: 728px;
    height: 624px;
  }
  .main-section__wrapper {
    margin-left: 29px;
  }
  .main-section__cool {
    padding-top: 38px;
    margin-bottom: 35px;
  }
  .main-section__button {
    margin-bottom: 24px;
  }
  .links__link {
    margin-right: 20px;
  }
  .cool__span {
    margin-bottom: 23px;
  }
  .cool__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.2px;
    margin-bottom: 25px;
  }
  .cool__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    width: 400px;
  }
  .container {
    max-width: 641px;
    margin: auto;
  }
  .footer-wrapper {
    grid-gap: 22px;
    grid-template-columns: 263px 174px 175px;
  }
  .stories__title {
    font-size: 48px;
    line-height: 60px;
  }
  .stories-left {
    max-width: 570px;
  }
  .slider-text {
    max-width: 530px;
  }
  .stories {
    width: 90%;
  }
  .stories__text {
    max-width: 100%;
  }
  .stories__slider_wrapper {
    max-width: 505px;
  }
  .stories__slider_group_picture {
    width: 231px;
    height: 238px;
  }
  .stories__slider_group_description {
    width: 233px;
  }
}

@media (max-width: 710px) {
  .collection__images-wrapper {
    width: 605px;
    height: 415px;
    justify-content: space-around;
  }
  .collection__vertical {
    width: 270px;
  }
  .collection__horizontal-photo {
    width: 270px;
    height: 200px;
  }
  .footer-wrapper {
    grid-gap: 5px;
    grid-template-columns: 237px 147px 159px;
  }
  .container {
    max-width: 576px;
    margin: auto;
  }
  .stories {
    padding-bottom: 30px;
  }
  .stories__card {
    width: 270px;
    margin-bottom: 151px;
  }
  .stories-right {
    display: block;
    width: unset;
  }
  .stories-text {
    width: 270px;
    height: 150px;
  }
  .stories-text__title {
    font-family: HKGrotesk;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 610px) {
  .collection__images-wrapper {
    width: 605px;
    height: 368px;
  }
  .collection__vertical {
    width: 240px;
  }
  .collection__horizontal-photo {
    width: 240px;
    height: 170px;
  }
}

@media (max-width: 576px) {
  .container-top {
    width: 100%;
  }
  .main-section {
    border-radius: 0px;
    height: 899px;
  }
  .main-section__bg {
    height: 100%;
    margin-left: calc(115% - 1210px);
    width: unset;
    max-width: 1219px;
  }
  .main-section__cool {
    padding-top: 381px;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;
  }
  .main-section__button-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  .main-section__button {
    padding: 13px 49px;
    border: 1px solid #183B56;
    margin-bottom: 22px;
    padding: 11px 49px;
  }
  .main-section__wrapper {
    margin-left: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-section__links {
    flex-wrap: wrap;
    width: 325px;
    justify-content: center;
    margin: 0;
  }
  .links__link {
    margin-right: 16px;
  }
  .cool__span {
    width: 196px;
    height: 24px;
    margin-bottom: 20px;
  }
  .cool__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .cool__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    width: 280px;
    height: 140px;
    text-align: center;
  }
  .collection {
    padding-top: 33px;
  }
  .collection__images-wrapper {
    flex-direction: column;
    align-items: center;
    height: 415px;
  }
  .collection__vertical {
    width: auto;
  }
  .collection__vertical-photo {
    width: 290px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
  }
  .collection__horizontal {
    flex-direction: row;
    width: 290px;
    justify-content: space-between;
  }
  .collection__horizontal-photo {
    width: 138px;
    height: 97px;
  }
  .collection__text {
    text-align: center;
  }
  .collection__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 21px;
  }
  .collection__subtitle {
    font-size: 16px;
    line-height: 28px;
    padding: 0 10px;
  }
  .collection__looking {
    display: none;
  }
  .newsletter {
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .newsletter-wrapper {
    width: 92%;
  }
  .newsletter__title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    padding-left: 6px;
    letter-spacing: 0.9px;
  }
  .newsletter__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    margin-top: 27px;
    padding-left: 0;
  }
  .subscribe {
    width: 95%;
    margin-left: 0;
    margin-top: 19px;
    height: 50px;
  }
  .subscribe__button {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
  }
  .enter {
    display: none;
  }
  .footer {
    padding: 48px 0;
  }
  .footer-wrapper {
    grid-template-columns: 263px;
    grid-gap: 14px;
  }
  .footer-wrapper__logo {
    grid-row: 5;
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 38px;
  }
  .footer-wrapper__navigation {
    grid-row: 1;
    grid-column: 1;
  }
  .footer-wrapper__service {
    grid-row: 2;
    grid-column: 1;
  }
  .footer-wrapper__company {
    grid-row: 3;
    grid-column: 1;
  }
  .footer-wrapper__contacts {
    grid-row: 4;
    grid-column: 1;
  }
  .container {
    max-width: 263px;
    margin: auto;
  }
  .navigation__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .navigation__item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .social-links__text {
    font-size: 14px;
    line-height: 24px;
    margin-top: 9px;
    margin-bottom: 25px;
  }
  .stories {
    padding-top: 48px;
  }
  .stories__delete {
    display: none;
  }
  .stories__title {
    font-size: 28px;
    line-height: 36px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .stories__subtitle {
    font-size: 16px;
    line-height: 28px;
  }
  .stories-arrows {
    margin-left: 4em;
  }
  .stories__text {
    text-align: center;
  }
  .stories__text_title {
    font-size: 46px;
    text-align: center;
  }
  .stories__text_story {
    font-size: 16px;
  }
  .stories__slider_wrapper {
    max-width: 425px;
  }
  .stories__slider_group_picture {
    width: 195px;
    height: 200px;
  }
  .stories__slider_group_description {
    width: 195px;
  }
  .stories__slider_group_description_title {
    font-size: 18px;
    line-height: 130%;
  }
  .trending-title {
    font-size: 28px;
    line-height: 36px;
  }
  .card {
    width: 47%;
  }
  .card-wrapper {
    max-width: 300px;
    margin: 0 auto;
  }
  .card-block {
    justify-content: start;
  }
  .card-name {
    font-size: 16px;
    line-height: 20px;
  }
  .card-picture {
    width: 140px;
    height: 170px;
  }
  .card-block__price {
    width: 36px;
    height: 24px;
  }
  .card-block__cart {
    width: 23px;
    height: 32px;
  }
  .slider-text {
    max-width: 280px;
    font-size: 18px;
    line-height: 36px;
  }
  .stories__text_title {
    font-size: 46px;
  }
  .stories__text_story {
    font-size: 16px;
  }
  .stories__slider_wrapper {
    max-width: 425px;
  }
  .stories__slider_group_picture {
    width: 195px;
    height: 200px;
  }
  .stories__slider_group_description {
    width: 195px;
  }
  .stories__slider_group_description_title {
    font-size: 18px;
    line-height: 130%;
  }
}

@media (max-width: 480px) {
  .stories__text {
    min-height: 282px;
  }
  .stories__text_hashtag {
    margin-bottom: 24px;
  }
  .stories__text_title {
    font-size: 28px;
    line-height: 36px;
  }
  .stories__text_story {
    line-height: 28px;
  }
  .stories__text_buttons {
    margin-bottom: 26px;
  }
  .stories__slider {
    width: 100%;
  }
  .stories__slider_group {
    min-width: 100%;
    max-height: 425px;
  }
  .stories__slider_group_picture {
    width: 95%;
    height: 300px;
  }
  .stories__slider_group_description {
    width: 96%;
    min-height: 129px;
  }
  .stories__slider_wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 431px;
    max-height: 950px;
  }
  .stories__slider_wrapper_slide {
    width: 100% !important;
    height: 100% !important;
    margin: 0 9px !important;
    align-items: center;
    justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */