@media (max-width: 1300px)
  .container-top
    max-width: 960px
  .header
    &__top
      justify-content: space-around
    &-menu
      &__logo
        margin-right: 0
.main-section
  &__wrapper
    margin-left: 107px

@media (max-width: 992px)
  .container-top
    max-width: 760px
  .header
    &-menu
      &__item
        margin-left: 20px
      &__button
        margin-left: 0px

@media (max-width: 768px)
  .container-top
    max-width: 728px
    width: 95%
  .header
    &__top
      justify-content: space-between
      margin-right: 37px
      margin-left: 42px
      padding: 23px 0px
      margin-bottom: 24px
    &-menu
      display: none
      &__button
        display: none
  .menu-burger
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 24px
    height: 17px
    padding: 0
    border: none
    background-color: #fff
    cursor: pointer
    &__line
      width: 22px
      height: 2.2px
      right: 1px
      top: calc(50% - 2.2px/2 - 0.15px)
      background: #3A4C66
  .main-section
    &__bg
      max-width: 728px
      height: 624px
    &__wrapper
      margin-left: 29px
    &__cool
      padding-top: 38px
      margin-bottom: 35px
    &__button
      margin-bottom: 24px
  .links
    &__link
      margin-right: 20px
  .cool
    &__span
      margin-bottom: 23px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 25px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      width: 400px
@media (max-width: 576px)
  .container
    &-top
      width: 100%
  .main
    &-section
      border-radius: 0px
      height: 899px
      &__bg
        height: 100%
        margin-left: calc(115% - 1210px)
        width: unset
        max-width: 1219px
      &__cool
        padding-top: 381px
        width: 100%
        align-items: center
        margin-bottom: 24px
      &__button-link
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
      &__button
        padding: 13px 49px
        border: 1px solid #183B56
        margin-bottom: 22px
        padding: 11px 49px
      &__wrapper
        margin-left: 0%
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center
      &__links
        flex-wrap: wrap
        width: 325px
        justify-content: center
        margin: 0
  .links__link
    margin-right: 16px

  .cool
    &__span
      width: 196px
      height: 24px
      margin-bottom: 20px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 20px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      width: 280px
      height: 140px
      text-align: center
