@media (max-width: 1300px)
  .container-top
    max-width: 960px
  .header
    &__top
      justify-content: space-around
    &-menu
      &__logo
        margin-right: 0
.main-section
  &__wrapper
    margin-left: 107px

@media (max-width: 1200px)
  .collection
    padding-top: 49px
    &-wrapper
      width: 97%
    &__images-wrapper
      width: 605px
      height: 415px
      justify-content: space-around
    &__vertical
      width: 270px
    &__horizontal
      &-photo
        width: 270px
        height: 200px
    &__text
      padding-left: 10px
    &__title
      font-size: 44px
      margin-bottom: 0
      margin-top: 0
    &__subtitle
      font-size: 16px
      margin-bottom: 30px
    &__looking
      font-size: 16px

  .newsletter
    &-wrapper
      width: 97%
      display: flex
      flex-direction: column
      justify-content: center
    &-content
      padding-left: 0
      display: flex
      flex-direction: column
      align-items: center
    &__text
      text-align: center
  .subscribe
    margin-right: 0

  .container
    max-width: 960px
    margin: auto
  .footer-wrapper
    grid-template-columns: 250px 180px 175px 175px 150px
    grid-gap: 5px

  .stories
    &-wrapper
      justify-content: center
    &-right
      max-width: 654px
    &__title
      font-size: 37px
      line-height: 50px
    &__subtitle
      font-size: 21px
      line-height: 36px
    &__card
      margin-right: 10px

@media (max-width: 992px)
  .container-top
    max-width: 760px
  .header
    &-menu
      &__item
        margin-left: 20px
      &__button
        margin-left: 0px
  .collection
    &-wrapper
      flex-wrap: wrap
      justify-content: center
    &__images-wrapper
      width: 670px
      height: auto
      justify-content: space-between
    &__vertical
      width: 320px
    &__horizontal
      &-photo
        width: 320px
        height: 230px
    &__text
      width: 95%
      margin-top: 32px
      padding-left: 0
    &__title
      font-size: 48px
      margin-bottom: 30px
    &__subtitle
      font-size: 20px
      word-break: break-word
      margin-bottom: 24px
    &__looking
      font-size: 18px

  .newsletter
    padding-top: 67px
    padding-bottom: 69px
    &__title
      padding-left: 21px
    &__text
      margin-top: 21px
      padding-left: 11px
  .subscribe
    margin-top: 37px
    margin-left: 14px

  .footer
    padding: 64px 0
    &-wrapper
      grid-template-columns: 250px 180px 175px 1px 1px
      &__logo
        grid-row: 1
        grid-column: 1
        text-align: center
      &__navigation
        grid-row: 1
        grid-column: 2
      &__service
        grid-row: 1
        grid-column: 3
      &__company
        grid-row: 2
        grid-column: 2
      &__contacts
        grid-row: 2
        grid-column: 3
  .container
    max-width: 760px
    margin: auto

  .stories
    padding-top: 78px
    &-wrapper
      flex-wrap: wrap
      // height: 877px
    &__title
      font-size: 48px
      line-height: 60px
      margin-bottom: 21px
    &-left
      display: block
      flex-wrap: wrap
      text-align: center
      justify-content: center
      max-width: 585px
      height: 296px
    &-right
      padding-top: 36px
      max-width: 682px
    &__subtitle
      font-size: 20px
      line-height: 36px
      margin-bottom: 36px
    &__stamp
      margin: auto
    &-arrows
      top: unset
      // display: contents
      margin-left: 39%
    &__card
      margin-right: 0px
@media (min-width: 992px)
  a
    &:hover
      color: $hover
  .navbar
    &-top__button
      &:hover
        color: $main
        border-color: $main
  .collection
    &__looking-icon
      &:hover
        color: $hover
  .button
    &:hover
      background-color: $hover

  .link
    &:hover
      color: grey

  .button
    &:hover
      background-color: grey
      border: none

  .button-enter:hover
    background-color: grey

  .link-blue:hover
    color: grey

@media (max-width: 992px)
  body
    padding-top: 53px
  .button:hover
    background-color: $text-color
    border: none
  .button-enter:hover
    background-color: white
  .link:hover
    color: $text-color
  .link-blue:hover
    color: #1565D8

  .container-top
    max-width: 760px
  .header
    &-menu
      &__item
        margin-left: 20px
      &__button
        margin-left: 0px
  .collection
    &-wrapper
      flex-wrap: wrap
      justify-content: center
    &__images-wrapper
      width: 670px
      height: auto
      justify-content: space-between
    &__vertical
      width: 320px
    &__horizontal
      &-photo
        width: 320px
        height: 230px
    &__text
      width: 95%
      margin-top: 32px
      padding-left: 0
    &__title
      font-size: 48px
      margin-bottom: 30px
    &__subtitle
      font-size: 20px
      word-break: break-word
      margin-bottom: 24px
    &__looking
      font-size: 18px

  .newsletter
    padding-top: 67px
    padding-bottom: 69px
    &__title
      padding-left: 21px
    &__text
      margin-top: 21px
      padding-left: 11px
  .subscribe
    margin-top: 37px
    margin-left: 14px

  .footer
    padding: 64px 0
    &-wrapper
      grid-template-columns: 306px 198px 175px
      &__logo
        grid-row: 1
        grid-column: 1
      &__navigation
        grid-row: 1
        grid-column: 2
      &__service
        grid-row: 1
        grid-column: 3
      &__company
        grid-row: 2
        grid-column: 2
      &__contacts
        grid-row: 2
        grid-column: 3
  .container
    max-width: 760px
    margin: auto

  .trending
    padding-top: 30px
    &-header
      flex-direction: column
      margin-bottom: 36px
    &-title
      margin-bottom: 9px
  .card
    &-wrapper
      justify-content: space-around
    &-picture
      width: 280px
      height: 350px

  .slider-text
    max-width: 630px

@media (max-width: 768px)
  .container-top
    max-width: 728px
    width: 95%
  .header
    &__top
      justify-content: space-between
      margin-right: 37px
      margin-left: 42px
      padding: 23px 0px
      margin-bottom: 24px
    &-menu
      display: none
      &__button
        display: none
  .menu-burger
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 24px
    height: 17px
    padding: 0
    border: none
    background-color: #fff
    cursor: pointer
    &__line
      width: 22px
      height: 2.2px
      right: 1px
      top: calc(50% - 2.2px/2 - 0.15px)
      background: #3A4C66
  .main-section
    &__bg
      max-width: 728px
      height: 624px
    &__wrapper
      margin-left: 29px
    &__cool
      padding-top: 38px
      margin-bottom: 35px
    &__button
      margin-bottom: 24px
  .links
    &__link
      margin-right: 20px
  .cool
    &__span
      margin-bottom: 23px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 25px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      width: 400px

  .container
    max-width: 641px
    margin: auto
  .footer
    &-wrapper
      grid-gap: 22px
      grid-template-columns: 263px 174px 175px

  .stories
    &__title
      font-size: 48px
      line-height: 60px
    &-left
      max-width: 570px

  .slider-text
    max-width: 530px
@media (max-width: 710px)
  .collection
    &__images-wrapper
      width: 605px
      height: 415px
      justify-content: space-around
    &__vertical
      width: 270px
    &__horizontal
      &-photo
        width: 270px
        height: 200px

  .footer
    &-wrapper
      grid-gap: 5px
      grid-template-columns: 237px 147px 159px
  .container
    max-width: 576px
    margin: auto

  .stories
    padding-bottom: 30px
    &__card
      width: 270px
      // height: 408px
      margin-bottom: 151px
    &-right
      display: block
      width: unset
    &-text
      width: 270px
      height: 150px
      &__title
        font-family: HKGrotesk
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 24px
@media (max-width: 610px)
  .collection
    &__images-wrapper
      width: 605px
      height: 368px
    &__vertical
      width: 240px
    &__horizontal
      &-photo
        width: 240px
        height: 170px

@media (max-width: 576px)
  .container
    &-top
      width: 100%
  .main
    &-section
      border-radius: 0px
      height: 899px
      &__bg
        height: 100%
        margin-left: calc(115% - 1210px)
        width: unset
        max-width: 1219px
      &__cool
        padding-top: 381px
        width: 100%
        align-items: center
        margin-bottom: 24px
      &__button-link
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
      &__button
        padding: 13px 49px
        border: 1px solid #183B56
        margin-bottom: 22px
        padding: 11px 49px
      &__wrapper
        margin-left: 0%
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: center
      &__links
        flex-wrap: wrap
        width: 325px
        justify-content: center
        margin: 0
  .links__link
    margin-right: 16px
  .cool
    &__span
      width: 196px
      height: 24px
      margin-bottom: 20px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 32px
      line-height: 40px
      text-align: center
      margin-bottom: 20px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      width: 280px
      height: 140px
      text-align: center
  .collection
    padding-top: 33px
    &__images-wrapper
      flex-direction: column
      align-items: center
      height: 415px
    &__vertical
      width: auto
      &-photo
        width: 290px
        height: 300px
        object-fit: cover
        border-radius: 4px
    &__horizontal
      flex-direction: row
      width: 290px
      justify-content: space-between
      &-photo
        width: 138px
        height: 97px
    &__text
      text-align: center
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 21px
    &__subtitle
      font-size: 16px
      line-height: 28px
      padding: 0 10px
    &__looking
      display: none

  .newsletter
    padding-top: 60px
    padding-bottom: 110px
    &-wrapper
      width: 92%
    &__title
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
      padding-left: 6px
      letter-spacing: 0.9px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      margin-top: 27px
      padding-left: 0
  .subscribe
    width: 95%
    margin-left: 0
    margin-top: 19px
    height: 50px
    &__button
      position: relative
      top: 0
      right: 0
      width: 100%
      margin-top: 10px
      border-radius: 8px
  .enter
    display: none

  .footer
    padding: 48px 0
    &-wrapper
      grid-template-columns: 263px
      grid-gap: 14px
      &__logo
        grid-row: 5
        grid-column: 1
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        padding-top: 38px
      &__navigation
        grid-row: 1
        grid-column: 1
      &__service
        grid-row: 2
        grid-column: 1
      &__company
        grid-row: 3
        grid-column: 1
      &__contacts
        grid-row: 4
        grid-column: 1
  .container
    max-width: 263px
    margin: auto
  .navigation
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__item
      font-size: 14px
      line-height: 20px
      margin-bottom: 15px
  .social-links
    &__text
      font-size: 14px
      line-height: 24px
      margin-top: 9px
      margin-bottom: 25px

  .stories
    padding-top: 48px
    &__delete
      display: none
    &__title
      font-size: 28px
      line-height: 36px
      margin-top: 24px
      margin-bottom: 16px
    &__subtitle
      font-size: 16px
      line-height: 28px
    &-arrows
      margin-left: 4em

  .trending
    &-title
      font-size: 28px
      line-height: 36px

  .card
    width: 47%
    &-wrapper
      max-width: 300px
      margin: 0 auto
    &-block
      justify-content: start
    &-name
      font-size: 16px
      line-height: 20px
    &-picture
      width: 140px
      height: 170px
    &-block
      &__price
        width: 36px
        height: 24px
      &__cart
        width: 23px
        height: 32px

  .slider-text
    max-width: 280px
    font-size: 18px
    line-height: 36px
