@media (max-width: 1300px)
  .container-top
    max-width: 960px
  .header
    &__top
      justify-content: space-around
    &-menu
      &__logo
        margin-right: 0
.main-section
  &__wrapper
    margin-left: 107px

@media (max-width: 992px)
  .container-top
    max-width: 760px
  .header
    &-menu
      &__item
        margin-left: 20px
      &__button
        margin-left: 0px

@media (max-width: 768px)
  .container-top
    max-width: 728px
  .header
    &__top
      justify-content: space-between
      margin-right: 37px
      margin-left: 42px
      padding: 23px 0px
      margin-bottom: 24px
    &-menu
      display: none
      &__button
        display: none
  .menu-burger
    display: flex
    align-items: center
    justify-content: space-between
    flex-direction: column
    width: 24px
    height: 17px
    padding: 0
    border: none
    background-color: #fff
    cursor: pointer
    &__line
      width: 22px
      height: 2.2px
      right: 1px
      top: calc(50% - 2.2px/2 - 0.15px)
      background: #3A4C66
  .main-section
    &__bg
      max-width: 728px
      height: 624px
    &__wrapper
      margin-left: 29px
    &__cool
      padding-top: 38px
  .cool
    &__span
      margin-bottom: 23px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      margin-bottom: 25px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      width: 400px
