.stories
  padding-bottom: 140px
  &__wrapper
    width: 1150px
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: space-between
    margin-left: -4px
  &__text
    max-width: 392px
    min-height: 419px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    &_hashtag
      min-width: 50px
      height: 32px
      text-decoration: none
      text-transform: uppercase
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      padding: 6px 16px
      margin-bottom: 24px
    &_title
      font-family: HKGrotesk
      font-size: 48px
      line-height: 125%
      letter-spacing: 0.2px
      color: $main
      margin: 0 0 25px 0
    &_story
      font-size: 20px
      // line-height: 180%
      margin: 0 0 42px 0
      max-width: 374px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      line-height: 37px
    &_buttons
      position: static
      width: 132px
      height: 56px
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      &_wrapper
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        position: absolute
        width: 56px
        height: 56px
      &_left
        width: 56px
        height: 56px
        top: 25px
        left: -3px
        bottom: 0
        right: 0
        &:focus
          outline: none
        &:hover
          opacity: 0.5
      &_right
        width: 56px
        height: 56px
        top: 25px
        left: 74px
        bottom: 0
        right: 0
        &:focus
          outline: none
        &:hover
          opacity: 0.5
  &__slider
    margin-top: 10px
    overflow: hidden
    &_wrapper
      max-width: 662px
      max-height: 475px
      display: flex
      flex-direction: row
      align-items: center
      &_slide
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
    &_group
      max-width: 322px
      max-height: 475px
      margin-right: 18px
      &_picture
        width: 100%
        height: 100%
        border-radius: 8px 8px 0 0
        overflow: hidden
        &_img
          display: block
          object-fit: cover
          top: 0
          right: 0
          bottom: 0
          left: 0
          width: 312px
          height: 317px
      &_description
        position: relative
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        bottom: 20px
        left: 10px
        width: 312px
        min-height: 178px
        background-color: #FAFDFF
        padding: 20px 25px 20px 20px
        &_title
          font-family: HKGrotesk
          font-size: 22px
          line-height: 145%
          letter-spacing: 0.2px
          margin: 0 0 20px 0
        &_link
          font-size: 16px
          line-height: 22px
          text-decoration: none
          color: $blue
          font-family: Open Sans
          font-style: normal
          font-weight: 600
.separator
  display: inline-block
  width: 100%
  height: 1px
  background-color: $main
  margin: 0 auto 118px auto

.hashtag
  color: #36B37E
  background-color: rgba(54, 179, 126, 0.1)
  border-radius: 2000px
